<h2>Select airport or flight and (optional) date</h2>
<div>
  <mat-form-field>
    <mat-label>Airport</mat-label>
    <mat-select [(value)]='selectedAirport'>
      <mat-option>Select no airport</mat-option>
      <mat-option *ngFor="let airport of airports" value='{{ airport }}' (click)="checkForChanges()">
        {{ airport }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="selectedAirport" id="flight-pick">
    <mat-label>Flight number (optional)</mat-label>
    <mat-select [(value)]='selectedFlight'>
      <mat-option>Select no flight</mat-option>
      <mat-option *ngFor="let flight of flightNumbers" value='{{ flight }}'>
        {{ flight }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date (optional)</mat-label>

    <mat-select [(value)]='selectedDate'>
      <mat-option>Select no date</mat-option>
      <mat-option *ngFor="let date of dates" value='{{ date }}'>
        {{ date }}
      </mat-option>

    </mat-select>
  </mat-form-field>
</div>

<button mat-raised-button (click)="retrieveDataBasedOnSelectedItem()"
  *ngIf="(selectedAirport || selectedFlight) && !dataFound" color="primary">Find
  data</button>
<button mat-raised-button (click)="reset()" *ngIf="dataFound || (selectedAirport || selectedFlight)"
  color="primary">Reset data</button>
<div *ngIf="selectedFlight && selectedAirport">
  <flights-info [flightNumber]="selectedFlight"></flights-info>
</div>
<div id="analysis" *ngIf="dataFound">

  <div *ngIf="selectedFlight">
    <h4>Records in database for flights with flight no. {{ selectedFlight }}</h4>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="flightNumber">
        <th mat-header-cell *matHeaderCellDef> Flight number </th>
        <td mat-cell *matCellDef="let element">{{ element.flightNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="airline">
        <th mat-header-cell *matHeaderCellDef> Airport </th>
        <td mat-cell *matCellDef="let element">{{ element.airport }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>
      <ng-container matColumnDef="scheduledTime">
        <th mat-header-cell *matHeaderCellDef> Scheduled time </th>
        <td mat-cell *matCellDef="let element">{{ element.scheduleTime }}</td>
      </ng-container>
      <ng-container matColumnDef="expectedTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Expected time </th>
        <td mat-cell *matCellDef="let element">{{ element.expectedTime }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <div>
    <table mat-table [dataSource]="simpleStats">
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Measure </th>
        <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedStatisticColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedStatisticColumns;"></tr>
    </table>
  </div>
  <div style="display: block;" *ngIf="dataFound">
    <h4 *ngIf="selectedFlight" class="status-chart-head">Distribution of status in 100 most up-to-date recorded flights
      with flight no. {{selectedFlight}}</h4>
    <canvas baseChart [data]="statusChartData" [labels]="statusChartLabels" [chartType]="pieChartType"
      [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" [colors]="statusChartColors">
    </canvas>
  </div>
  <div style="display: block;" *ngIf="dataFound">
    <mat-grid-list cols="1" rowHeight="3:1">
      <mat-grid-tile
        *ngIf="this.flightStatistics && this.flightStatistics.linkedFlights && this.flightStatistics.linkedFlights.length > 0">
        <label style="padding: 1rem">Pairs of flights, which flight no. {{ this.selectedFlight}}, has the largest correlation coefficient</label>
        <flights-pair [flightPairs]="flightStatistics.linkedFlights"></flights-pair>
      </mat-grid-tile>
      <mat-grid-tile
        *ngIf="!(this.flightStatistics && this.flightStatistics.linkedFlights && this.flightStatistics.linkedFlights.length > 0)">
        <div>
          <h4 *ngIf="selectedFlight" class="status-chart-head">No significant correlation found with other flights with
            flight no. {{selectedFlight}}</h4>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div style="display: block; padding-top: 3rem;"
    *ngIf="airportStatistics && airportStatistics.grouped_statistics && !selectedFlight">
    <mat-grid-list cols="1" rowHeight="3:1">
      <mat-grid-tile>
        <label>Pairs of flights, which has the largest covariance coefficient</label>
        <flights-pair [flightPairs]="airportStatistics.grouped_statistics.cov"></flights-pair>
      </mat-grid-tile>
      <mat-grid-tile>
        <label>Pairs of flights, which has the lowest covariance coefficient</label>
        <flights-pair [flightPairs]="airportStatistics.grouped_statistics.cov_i"></flights-pair>
      </mat-grid-tile>
      <mat-grid-tile>
        <label>Pairs of flights, which has the largest correlation coefficient</label>
        <flights-pair [flightPairs]="airportStatistics.grouped_statistics.cor"></flights-pair>
      </mat-grid-tile>
      <mat-grid-tile>
        <label>Pairs of flights, which has the lowest correlation coefficient</label>
        <flights-pair [flightPairs]="airportStatistics.grouped_statistics.cor_i"></flights-pair>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>