<div class="container body">
  <table mat-table [dataSource]="queryArray" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Query ID </th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="flights">
      <th mat-header-cell *matHeaderCellDef> Flights queried </th>
      <td mat-cell *matCellDef="let element">{{ element.flights }}</td>
    </ng-container>
    <ng-container matColumnDef="dateFrom">
      <th mat-header-cell *matHeaderCellDef> Date from </th>
      <td mat-cell *matCellDef="let element">{{ element.dateFrom }}</td>
    </ng-container>
    <ng-container matColumnDef="dateTo">
      <th mat-header-cell *matHeaderCellDef> Date to </th>
      <td mat-cell *matCellDef="let element">{{ element.dateTo }}</td>
    </ng-container>
    <ng-container matColumnDef="stateOfFlight">
      <th mat-header-cell *matHeaderCellDef> State of flight </th>
      <td mat-cell *matCellDef="let element">{{ element.stateOfFlight }}</td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> Created by </th>
      <td mat-cell *matCellDef="let element">{{ element.user }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<h1>Querying is coming soon.</h1>