<div class="container head">
  <h2>Welcome to STATMIS flight monitoring app!</h2>
</div>
<div class="container body">
  <p>STATMIS is an app made for monitoring flight disturbancies and abnormalities. It can be used to check flight frequencies and statictis, as wel.</p>
  <p>You can use this app for various needs and hopefully it will fulfill your expectations. Main functionality here is:</p>
  <ul>
    <li>Basic flight info tracking;</li>
    <li>Queries to find specific information about known flight data;</li>
    <li>Some charts and sketches for novice users and those, who don't know what they want;</li>
    <li>Help (<u>if needed</u>).</li>
  </ul>
</div>