<div class="container head">
  <h2>Welcome to flight monitoring app!</h2>
</div>
<div class="container body">
  <p>This is an app made for monitoring and analyzing flight disturbancies. It can be used to check historical flight data and statictis, as well.</p>
  <p>You can use this app for various needs and hopefully it will fulfill your expectations. Main functionality here is:</p>
  <ul>
    <li>Basic flight info tracking;</li>
    <li>Statistics about airports operating in Lithuania;</li>
    <li>Statistics about flights operated by airports of Lithuania;</li>
    <li>Help and explanations on how to read and interpret provided data</li>
  </ul>
</div>